@font-face {
    font-family: "Pinar-VF";
    src: url("Pinar-V2/Statics/ttf/FD(Farsi Digits instead Latin)/Pinar-FD-Regular.ttf");
}

.font-pinar{
    font-family: "Pinar-VF", serif !important;
}
.Toastify *{
    font-family: "Pinar-VF", serif !important;
}